<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
    div {
      background-color: lightgrey;
      width: 300px;
      border: 15px  ;
      padding: 50px;
      margin: 20px;
    }
    </style>

</head>
<body>

<form action="/register" method="post" name="form1">
<div class="form-group">
    <center><label for="exampleInputEmail1"><b>Registration Form</b></label></center>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
</br>
</br>
<label for="exampleInputEmail1">first Name</label></br>
<input type="name" name="firstname" class="form-control" id="firstname" aria-describedby="nameHelp" placeholder="Enter name" value="">
</br>
</br>
<label for="exampleInputEmail1">last Name</label></br>
<input type="name" name="lastname" class="form-control" id="lastname" aria-describedby="nameHelp" placeholder="Enter name" value="">
</br>
</br>
<label for="exampleInputEmail1">Email</label></br>
<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="">
</br>
</br>
<label for="exampleInputEmail1">Password</label></br>
<input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="*********" value="">
</br>
</br>
<input type="submit" class="btn btn-primary" value="Submit">
</div>

</form> 
</body>
</html>